<drag-box>
	<div class="cat body bodySlant earsBasic">
		<div class="face"></div>
		<div class="features"></div>
	</div>
</drag-box>

<drag-box>
	<div class="sheep body">
		<div class="face"></div>
		<div class="features"></div>
	</div>
</drag-box>

<drag-box>
	<div class="dog body bodySlant earsBasic">
		<div class="face"></div>
		<div class="features"></div>
	</div>
</drag-box>

<drag-box>
	<div class="bear body bodySlant">
		<div class="face"></div>
		<div class="features"></div>
	</div>
</drag-box>

<drag-box>
	<div class="bear body alt">
		<div class="face"></div>
		<div class="features"></div>
	</div>
</drag-box>

<drag-box>
	<div class="lion body">
		<div class="face"></div>
	</div>
</drag-box>

<drag-box>
	<div class="elephant body">
		<div class="face"></div>
	</div>
</drag-box>

<drag-box>
	<div class="monkey body">
		<div class="face"></div>
	</div>
</drag-box>

<drag-box>
	<div class="penguin body">
		<div class="face"></div>
	</div>
</drag-box>