<nav mat-tab-nav-bar style="text-align: center;">
	<a mat-tab-link
		mat-button color="accent"
	   routerLink="one"
	   routerLinkActive #rla="routerLinkActive"
	   [active]="rla.isActive">
	   <h2>One</h2>
	</a>
	<a mat-tab-link
		mat-button color="accent"
	   routerLink="two"
	   routerLinkActive #rla="routerLinkActive"
	   [active]="rla.isActive">
	  <h2>Two</h2>
	</a>
	<a mat-tab-link
		mat-button color="accent"
	   routerLink="three"
	   routerLinkActive #rla="routerLinkActive"
	   [active]="rla.isActive">
	  <h2>Three</h2>
	</a>
</nav>